#wrapper {
    /*background-color: darkgray;*/
    /*width: 90%;*/
    /*height: 90%;*/
    /*margin: auto;*/
}

textarea {
    resize: none;
}

.center {
    min-width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

/*Chatbox*/
    #displayMessages {
        height: 500px;
        overflow: auto;
    }

    #sendMessages textarea {
        height: auto;
        /*border: none;*/
    }

    #messageSubmit {
        font-size: 1.4em;
        margin-top: -40px;
    }

/*END Chatbox*/

/*====================================================================================*/

/*Profile*/
    #share {
        width: 200px;
        height: 120px;
        float: left;
    }

    #share textarea {
        height: 100%;
    }

    #profilePicture {
        float: left;
    }

/*END Profile*/

/*=============================================================*/

/*Users List*/
    #usersList {
        height: 352px;
    }

    .usersList {
        width: 50%;
        float: left;
        text-align: center;
    }

/*END Users List*/